
:root {
  --grey:   #24292e;
  --gray:  #444d56;
}


* {
    box-sizing: border-box;
  }

  body{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 0;
      padding: 0;
  }


  /* li, p{
      font-size: 1rem;
  } */
  /* Navbar */
  .topnav {
    overflow: hidden;
    background-color: var(--grey);
  }

  /* @media (min-width: 800px){ */
    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 14px;
      font-weight: 700;
    }
  /* } */

    .right-icons{
      float: right;
    }

    .topnav-content{
      padding: 0px 35px;
    }
  
  .topnav .icon {
    display: none;
  }
  
  .topnav-content form
    input[type=text] {
      width: 280px;
      box-sizing: border-box;
      border: 1px solid var(--gray);
      border-radius: 4px;
      font-size: 14px;
      color: #fff;
      background-color: var(--grey);
      background-image: url('https://github.githubassets.com/images/search-key-slash.svg');
      background-position: right 1% top 50%; 
      background-repeat: no-repeat;
      padding: 4px 20px 4px 40px;
      transition: width 0.4s ease-in-out;
    }
    
   .topnav-content input[type=text]:focus {
      width: 100%;
      background-color: white;
    }


    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }
    
    .sticky + .content {
      padding-top: 102px;
    }

    .profile-avi{
      border-radius: 50%;
      width: 20px;
    }
  
    .mobile-nav{
      display: none;
    }

    #myLinks{
      display: none;
    }

    .repo-num{
      display: flex;
      font-size: 14px;
    }

    .repo-number{
      font-weight: 600;
      padding-right: 4px;
    }
  
  @media screen and (max-width: 600px) {
    .topnav{
      display: none;
    }

    .repo-num{
      display: none;
    }
    .mobile-nav{
      display: flex;
      justify-content: space-between;
      background-color:  var(--grey);
      text-decoration: none;
      color: white;
      padding: 15px 15px;
    }

    #myLinks{
      display: flex;
      flex-direction: column;
      padding: 15px;
      background-color: var(--grey);
    }

    #myLinks a{
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #ffffff;
      font-size: 14px;
      font-weight: 600;
      padding: 8px 0px;
      border: 0.1px solid #ffffff0d;
      border-left: none;
      border-right: none;
    }

    #myLinks svg{
      padding-right: 5px;
    }

    .links{
      display: none!important;
    }

    .mobile-nav a {
      text-decoration: none;
      color: white;
    }

    #myLinks form
    input[type=text] {
      width: 280px;
      box-sizing: border-box;
      border: 1px solid var(--gray);
      border-radius: 4px;
      font-size: 14px;
      color: #fff;
      background-color: var(--grey);
      background-image: url('https://github.githubassets.com/images/search-key-slash.svg');
      background-position: right 1% top 50%; 
      background-repeat: no-repeat;
      padding: 4px 20px 4px 40px;
      transition: width 0.4s ease-in-out;
    }

    img.mobile-avi{
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }

    /* .mobile-log{
      display: flex;
      align-items: center;
    } */

    .mobile-name{
      padding-left: 5px;
    }

  }
  
  /* End Navbar */
  
  /* sections container */
  .flex-container {
    
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
  }
  
  .bio-section {
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 15px;
    text-align: left;
    flex: 30%;
  }

  
  
  .repo-section {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 60px;
    flex: 70%;
  }
  
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
    .bio-section, .repo-section {
      flex: 100%;
    }

    .bio-section {
      padding-top: 10px;
      padding-left: 15px;
      padding-right: 15px;
      text-align: left;
    }
    
    .repo-section {
      padding-top: 10px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  /* end sections container */

  /* bio section */
  .bio{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin: 1px;
    max-width: 250px;
  }

  .bio img{
    width: 100%;
    object-fit: contain;
    max-width: 250px;
    border-radius: 50%;
  }

  .bio-name{
    font-size: 26px;
    font-weight: 600;
    margin: 1px;
    color: var(--grey);
  }

  .login-name{
    font-size: 20px;
    font-weight: 300;
    color: #586069;
    margin: 1px;
  }

  .bio-section button{
    padding: 5px 36px;
    /* max-width: 200px; */
    height: 35px;
    font-size: 14px;
    font-weight: 600;
    color: var(--grey);
    white-space: nowrap;
    margin: 4px 2px;
    border: 0px solid;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    border: 1px solid #80808047;
  }

  .bio form {
    display: none;
    padding: 5px 12px;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid var(--color-input-border);
    border-radius: 10px;
    outline: none;
    box-shadow: var(--color-shadow-inset);
  }

  .bio input[type=text] {
      display: none;
      display: flex;
    width: 100%;
    height: 33px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    background-color: white;
    /* background-image: url('searchicon.png'); */
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }

  .bio-section span{
    padding: 0px 2px;
    font-weight: 600;
    color:var(--grey);
  }

  a#web{
    text-decoration: none;
    font-size: 14px;
    color: #000000c9;
  }

  .follow-count{
    display: flex;
    justify-content: start;
  }

  .follow-count p{
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 3px 0px;
}

.status-avi{
  position: relative;
}

  .status{
    border: 1px solid gray;
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    right: 0;
    bottom: 70px;
  }

  .status svg{
    margin: 3px;
  }

  @media (max-width: 800px){
    .bio form {
      display: block;
      padding: 5px 3px;
      width: 100%;
      font-size: 14px;
      line-height: 20px;
     background-image: url();
      /* vertical-align: middle; */
     
      background-repeat: no-repeat;
      background-position: right 8px center;
      border: 1px solid var(--color-input-border);
      border-radius: 10px;
      outline: none;
      box-shadow: var(--color-shadow-inset);
    }
  
    .bio input[type=text] {
        display: block;
        display: flex;
      width: 100%;
      height: 33px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 10px;
      font-size: 14px;
      background-color: white;
      /* background-image: url('searchicon.png'); */
      background-position: 10px 10px; 
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
    }

    .bio {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      margin: 1px;
      max-width: 100%;
  }

    .status{
      display: none;
    }

    .avi-name{
      display: flex;
      flex-direction: row;
    }

    .bio img{
      width: 70px;
    }

    .names{
      padding-left: 20px;
    }
  
  }
  /* end bio section */

  /* repo section */

  .repos{
      font-size: 1rem;
      display: flex;
      justify-content: space-between;
      text-align: left;
  }

   a.repo-name{
    font-size: 20px;
    text-decoration: none;
    color: #0366d6;
    font-weight: 600;
  }

  .color-lang{
    display: flex;
    align-items: baseline;
    font-size: 12px;
    color: #586069;
  }

  .color-lang p {
    padding: 0px 10px;
  }

  p.desc {
    font-size: 14px;
    color: #586069;
  }

  .hr{
    border: .5px solid #80808014
  }

  .repo-color{
    border: 0px solid;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .sum-list {
    list-style: none;
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    font-size: 1rem;
    background-color: white;
  }

  .sum-list p{
    padding: 0px 35px;
    border: 2px solid #80808014;
    color: var(--grey);
    border-top: none;
    border-left: none;
    border-right: none;
  }

  p.active{
    font-weight: 600;
  }

  .sum-list .active{
    border: 2px solid #f9826c;;
    border-right: none;
    border-left: none;
    border-top: none;
  }

  .bt-list{
      display: flex;
      align-items: center;
  }

  button.button{
    display: flex !important;
    align-items: center;
  }

  .bt-list button{
    padding: 5px 36px;
    max-width: 200px;
    height: 35px;
    font-size: 14px;
    font-weight: 600;
    color: gray;
    white-space: nowrap;
    margin: 4px 2px;
    border: 0px solid;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    border: 1px solid #80808047;
  }

  .bt-list .button {
    background-color: #2ea44f;
    border: none;
    color: white;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .bt-list form {
    padding: 5px 12px;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-text-primary);
    vertical-align: middle;
    background-color: var(--color-input-bg);
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid var(--color-input-border);
    border-radius: 10px;
    outline: none;
    box-shadow: var(--color-shadow-inset);
  }

  .bt-list input[type=text] {
      display: flex;
    width: 100%;
    height: 33px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    background-color: white;
    /* background-image: url('searchicon.png'); */
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }

  .star-repo button{
    border-radius: 6px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0px 10px;
    /* color: gray; */
  }

  @media (max-width: 800px) {
      .bt-list {
        display: block;
      }
      .bt-list button {
        padding: 5px 6px;
        font-size: 14px;
        margin: 4px 2px;
        border: 0px solid;
        border-radius: 6px;
    }

    button.button{
      display: inline-block!important;
    }
  

    .sum-list {
      list-style: none;
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      justify-content: space-around;
      font-size: 1rem;
    }
  
    .sum-list p{
      padding: 0px 0px;
      font-size: 14px;
    }

    .sum-list p > svg{
      display: none;
    }
  }

  /* end repo section */


